src/com/company/task2/calculate.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.task1.company.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.task1.company.com/" name="CalculateWebServiceImplService">
<types></types>
<message name="addition">
<part name="arg0" type="xsd:double"></part>
<part name="arg1" type="xsd:double"></part>
</message>
<message name="additionResponse">
<part name="return" type="xsd:double"></part>
</message>
<message name="subtraction">
<part name="arg0" type="xsd:double"></part>
<part name="arg1" type="xsd:double"></part>
</message>
<message name="subtractionResponse">
<part name="return" type="xsd:double"></part>
</message>
<message name="division">
<part name="arg0" type="xsd:double"></part>
<part name="arg1" type="xsd:double"></part>
</message>
<message name="divisionResponse">
<part name="return" type="xsd:double"></part>
</message>
<message name="multiplication">
<part name="arg0" type="xsd:double"></part>
<part name="arg1" type="xsd:double"></part>
</message>
<message name="multiplicationResponse">
<part name="return" type="xsd:double"></part>
</message>
<portType name="CalculateWebService">
<operation name="addition" parameterOrder="arg0 arg1">
<input wsam:Action="http://webService.task1.company.com/CalculateWebService/additionRequest" message="tns:addition"></input>
<output wsam:Action="http://webService.task1.company.com/CalculateWebService/additionResponse" message="tns:additionResponse"></output>
</operation>
<operation name="subtraction" parameterOrder="arg0 arg1">
<input wsam:Action="http://webService.task1.company.com/CalculateWebService/subtractionRequest" message="tns:subtraction"></input>
<output wsam:Action="http://webService.task1.company.com/CalculateWebService/subtractionResponse" message="tns:subtractionResponse"></output>
</operation>
<operation name="division" parameterOrder="arg0 arg1">
<input wsam:Action="http://webService.task1.company.com/CalculateWebService/divisionRequest" message="tns:division"></input>
<output wsam:Action="http://webService.task1.company.com/CalculateWebService/divisionResponse" message="tns:divisionResponse"></output>
</operation>
<operation name="multiplication" parameterOrder="arg0 arg1">
<input wsam:Action="http://webService.task1.company.com/CalculateWebService/multiplicationRequest" message="tns:multiplication"></input>
<output wsam:Action="http://webService.task1.company.com/CalculateWebService/multiplicationResponse" message="tns:multiplicationResponse"></output>
</operation>
</portType>
<binding name="CalculateWebServiceImplPortBinding" type="tns:CalculateWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="addition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</output>
</operation>
<operation name="subtraction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webService.task1.company.com/"></soap:body>
</output>
</operation>
</binding>
<service name="CalculateWebServiceImplService">
<port name="CalculateWebServiceImplPort" binding="tns:CalculateWebServiceImplPortBinding">
<soap:address location="http://localhost:1986/calculate"></soap:address>
</port>
</service>
</definitions>